./var
var/

Sources/Application C/bin/Debug/CMakeFiles/

Sources/Application C/bin/Debug/Testing/

Sources/Application C/bin/Debug/cmake_install.cmake

Sources/Application C/bin/Debug/CMakeCache.txt

Sources/Application C/obj/

Sources/Application C/Application C.cbp

Sources/Application C/Application C.depend

Sources/Application C/Application C.layout

Sources/Application C/connection.glade~

Sources/Application C/bin/Debug/Makefile

Sources/Application C/bin/Debug/LTA-Development.exe

Sources/Application C/bin/Debug/LTA-Development.cbp

Sources/Application C/.idea/
