RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC]

RewriteCond %{HTTP_HOST} ^51\.77\.144\.219
RewriteRule (.*) https://lta-development.fr/$1 [R=301,L]
