header{
  background-color: #303952;
}


header>nav{
    margin: 0 15%;
    height: 5vw;
}

header>nav>ul{
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 0px;
}

header a, li{
  text-decoration: none;
  color: white;
}

header a:hover{
  color: #718093;
  transition: .3s ease;
}

#inscriptionconnexion{
  display: flex;
  min-width: 20vw;
  border-radius: 15px;
  justify-content: space-between;
  text-align: center;
}

#inscriptionconnexion li{
    width: auto;
}

/* nav{
  display: flex;
  justify-content: center;
  align-items: center;
} */
